@model ERP.Project.Data.Models.ItemCategory
@using ERP.Project.Data.Models;

@{
    ViewBag.Title = "Edit";
}


<h2>ItemCategoryView</h2>


<div>
    @using (Html.BeginForm("Edit", "ItemCategory"))
    {
        <table>
            <tr>
                <td>Item Category Id</td>
                <td>@Html.TextBoxFor(m=>m.CategoryId, new { @class = "form-control", @readonly = "null" })</td>
               
            </tr>
            <tr>
                <td>Color Code</td>
                <td>@Html.DropDownList("ColorCode", (IEnumerable<SelectListItem>)ViewBag.ColorCode, "--Color Code-- ", new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td>Item Category Name</td>
                <td>@Html.TextBoxFor(m=>m.CategoryName, new { @class = "form-control" })</td>
            </tr>
        </table>
        <input class="btn btn-success" type="submit" value="Update" />
    }
</div>




