@model ERP.Project.Data.Models.project
@using ERP.Project.Data.Models

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div>
    @using (Html.BeginForm("Edit", "Project"))
    {
        <table>
            <tr>
                <td>Project Id</td>
                <td>@Html.TextBoxFor(m=>m.ProjectId,new{ @class = "form-control" , @readonly = "null"  })</td>
            </tr>
            <tr>
                <td>Item Type Name</td>
                <td>@Html.TextBox("ProjectName", null, new { @class = "form-control" })</td>
            </tr>
        </table>
        <input class="btn btn-success" type="submit" value="Update" />
    }
</div>