
@{
    ViewBag.Title = "UnauthorisedUser";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Unauthorised User</h2>
<img class="profile-img" style="width:280px;height:220px" src="~/Content/Images/access-denied.jpg" />

