@model ERP.Project.Data.Models.ItemType
@using ERP.Project.Data.Models;

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div>
    @using (Html.BeginForm("Edit", "ItemType"))
    {
        <table>
            <tr>
                <td>Item Type Id</td>
                <td>@Html.TextBoxFor(m => m.ItemTypeId, new { @class = "form-control", @readonly = "null" })</td>
                
            </tr>
            <tr>
                <td>Color Code</td>
                <td>@Html.DropDownListFor(m=>m.ColorCode, (IEnumerable<SelectListItem>)ViewBag.ColorCode, "--Color Code-- ", new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td>Item Type Name</td>
                <td>@Html.TextBoxFor(m=>m.ItemName, new { @class = "form-control" })</td>
            </tr>
        </table>
        <input class="btn btn-success" type="submit" value="Update" />
    }
</div>
